
<div class="row">
    <div class="col-2">
        <button class="btn btn-success" data-toggle="modal" 
            data-target="#carro" 
            id="compra_carro">
            Ver Carrito
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let card of lista">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{card.name}}
            </div>
                <img class="card-img-top" style="width: 100%; height: 250px;"  [src] = "card.image">

                <div *ngIf="card.active; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <button type="button" 
                    class="btn btn-info" 
                    data-toggle="modal" 
                    data-target="#compra" 
                    id="compra_tarjeta"
                    (click)="Obtener_GiftCard(card)"
                    >
                        Agregar
                    </button>
                </ng-template>
                <ng-template #elseBlock>
                    <button type="button" 
                    class="btn btn-danger" 
                    data-toggle="modal" 
                    data-target="#compra" 
                    id="compra_tarjeta"
                    (click)="Obtener_GiftCard(card)"
                    disabled
                    >
                        Fuera de servicio
                    </button>
                </ng-template>
        </div>
        <br/>
    </div>
</div>

<!--Modal para agregar-->

<div class="modal" tabindex="-1" id="compra">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Carrito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                <label for="formGroupExampleInput">Nombre de la GiftCard</label>
                </div>
                <div class="form-group">
                    <label class="text-center" id="name">{{giftcard.name}}</label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Cantidad</label>
                    <input type="number" id="cantidad" class="form-control" name="cantidad" [(ngModel)]="cantidad">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Precios</label>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="seleccion" [(ngModel)] = "precio">
                        <option selected>Open this select menu</option>
                        <option [value] = "item" *ngFor="let item of precios_tarjeta">{{item}}</option>
                    </select>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button id="btnGuardar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button id="btnGuardar" type="button" class="btn btn-success" data-dismiss="modal" (click)="Guardar_Compra_Tarjeta()">Guardar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="carro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lista de productos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of carrito">
                            <p class="card-text">
                                Tarjeta: {{item.name}},
                                cantidad: {{item.cantidad}},
                                precio unitario: {{item.precio}},
                                total: {{item.total}}
                            </p>
                        </li>
                      </ul>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button id="btnGuardar" type="button" class="btn btn-danger" data-dismiss="modal">Seguir Agregando</button>
            <button id="btnGuardar" type="button" class="btn btn-success" data-dismiss="modal" (click)="Navegar()" >Comprar</button>
        </div>
      </div>
    </div>
</div>