
<div class="row">
    <div class="col-md-4" *ngFor="let card of lista">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{card.name}}
            </div>
                <img class="card-img-top" style="width: 100%; height: 250px;"  [src] = "card.image">
            <div class="card-body">
                <p>{{card.chargeRate}}</p>
            </div>
            <button class="btn btn-info">
                    Comprar
            </button>
        </div>
        <br/>
    </div>
</div>
