<app-menu-cliente></app-menu-cliente>
<br/>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombres: {{this.usuario.nombres}}</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellidos: {{this.usuario.apellidos}}</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">username: {{this.usuario.username}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
