<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">GiftHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/admin" routerLinkActive="active">
                        <i class="fas fa-gift"></i>Catalogo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/transac" routerLinkActive="active">
                        <i class="fas fa-money-bill-alt"></i>Transacciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="cerrarSesion()" routerLinkActive="active">
                        <i class="fas fa-sign-out-alt"></i>Cerrar Sesion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<hr>
<div class="container p-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-secondary shadow p-3 mb-5 rounded">
                <div class="card-header bg-light text-dark d-flex justify-content-between align-items-center">
                    Transacciones
                </div>
                <div class="card-body">
                    <table class="table table-sm table-responsive-sm table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Transaccion</th>
                                <th scope="col">User</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Id GiftCard</th>
                                <th scope="col">Giftcard</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transacciones">
                                <th scope="row">{{item.factura_no_factura}}</th>
                                <td>{{item.usuario}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.giftcard}}</td>
                                <td>{{item.tipo_giftcard}}</td>
                                <td>{{item.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>