
<nav class="navbar navbar-expand-lg navbar-light bg-light box-menu">
  <div class="container">
    <a class="navbar-brand" href="#">GiftHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fas fa-sign-in-alt icono"></i> Login
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/registro" routerLinkActive="active">
            <i class="fas fa-user-plus icono"></i> Registro
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>




<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card border-dark box-card" >
      <div class="card-header text-center">
        <h4 class="card-title">
          <i class="fas fa-user-circle icono"></i> Registro
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombres</label>
              <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="user.nombres">
            </div>
            <div class="form-group col-md-6">
              <label for="apellido">Apellidos</label>
              <input class="form-control" type="text" id="apellido" name="apellido" [(ngModel)]="user.apellidos">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="correo">Correo</label>
              <input class="form-control"  type="email" id="email" name="email" [(ngModel)]="user.correo">
            </div>
            <div class="form-group col-md-4">
              <label for="correo">Username</label>
              <input class="form-control"  type="text" id="username" name="username" [(ngModel)]="user.username">
            </div>
            <div class="form-group col-md-4">
              <label for="password">Contraseña</label>
              <input class="form-control"  type="password" id="password" name="password" [(ngModel)]="user.contrasenia">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cui">CUI</label>
              <input class="form-control"  type="text" id="dpi" name="dpi" [(ngModel)]="user.cui">
            </div>
            <div class="form-group col-md-6">
              <label for="edad">Fecha nacimiento</label>
              <input class="form-control"  type="date" id="fecha" name="fecha" [(ngModel)]="user.fecha_nacimiento">
            </div>
          </div>
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-warning btn-singup" id="btnRegistro" (click)="registrar()">
            <i class="fas fa-sign-in-alt icono"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
