<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card border-dark box-card" >
      <div class="card-header text-center">
        <h4 class="card-title">
          <i class="fas fa-user-circle icono"></i> Registro
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombres</label>
              <input class="form-control" type="text" name="nombre" [(ngModel)]="user.nombres">
            </div>
            <div class="form-group col-md-6">
              <label for="apellido">Apellidos</label>
              <input class="form-control" type="text" name="apellido" [(ngModel)]="user.apellidos">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="correo">Correo</label>
              <input class="form-control"  type="email" name="email" [(ngModel)]="user.correo">
            </div>
            <div class="form-group col-md-4">
              <label for="correo">Username</label>
              <input class="form-control"  type="text" name="username" [(ngModel)]="user.username">
            </div>
            <div class="form-group col-md-4">
              <label for="password">Contraseña</label>
              <input class="form-control"  type="password" name="password" [(ngModel)]="user.contrasenia">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cui">CUI</label>
              <input class="form-control"  type="text" name="dpi" [(ngModel)]="user.cui">
            </div>
            <div class="form-group col-md-6">
              <label for="edad">Fecha nacimiento</label>
              <input class="form-control"  type="date" name="fecha" [(ngModel)]="user.fecha_nacimiento">
            </div>
          </div>
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-warning btn-singup">
            <i class="fas fa-sign-in-alt icono" (click)="registrar()"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
