<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card border-dark box-card" >
      <div class="card-header text-center">
        <h4 class="card-title">
          <i class="fas fa-user-circle icono"></i> Registro
        </h4>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombre</label>
              <input class="form-control"  type="text" name="nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="apellido">Apellido</label>
              <input class="form-control"  type="text" name="apellido">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="correo">Correo</label>
              <input class="form-control"  type="email" name="email">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Contraseña</label>
              <input class="form-control"  type="password" name="password">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cui">CUI | DPI</label>
              <input class="form-control"  type="number" name="dpi">
            </div>
            <div class="form-group col-md-6">
              <label for="edad">Edad</label>
              <input class="form-control"  type="number" name="edad">
            </div>
          </div>
        </form>
        <div class="text-center">
          <button type="button" class="btn btn-warning btn-singup">
            <i class="fas fa-sign-in-alt icono"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
